<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/style.css'>
    <script src='/js/app.js' async></script>
    <link rel='icon' href='/images/weather.png'>
</head>

<body>
    <div class='main-contect'>
        {{>header}}
        <form>
            <input type='text'>
            <input type='submit'>
        </form>
        <p id='message-1'></p>
        <p id='message-2'></p>

    </div>
    {{>footer}}
</body>

</html>