sector-14/assignment-2/node_modules/*
sector-14/remake-1/node_modules/*
sector-14/remake-2/node_modules/*
sector-14/assignment-4/node_modules/*
sector-14/assignment-1/node_modules/*
sector-14/assignment-3/node_modules/*
sector-14/assignment-5/node_modules/*
sector-12/assignment-2/node_modules/*
sector-12/remake-1/node_modules/*
sector-12/remake-5/node_modules/*
sector-12/remake-2/node_modules/*
sector-12/assignment-4/node_modules/*
sector-12/remake-3/node_modules/*
sector-12/assignment-1/node_modules/*
sector-12/remake-4/node_modules/*
sector-12/task-manager/node_modules/*
sector-12/assignment-6/node_modules/*
sector-12/remake-6/node_modules/*
sector-12/assignment-3/node_modules/*
sector-12/assignment-7/node_modules/*
sector-12/assignment-5/node_modules/*
sector-11/assignment-2/node_modules/*
sector-11/remake-1/node_modules/*
sector-11/remake-5/node_modules/*
sector-11/remake-2/node_modules/*
sector-11/assignment-4/node_modules/*
sector-11/assignment-8/node_modules/*
sector-11/remake-3/node_modules/*
sector-11/assignment-1/node_modules/*
sector-11/assignment-9/node_modules/*
sector-11/remake-4/node_modules/*
sector-11/task-manager/node_modules/*
sector-11/assignment-10/node_modules/*
sector-11/assignment-6/node_modules/*
sector-11/assignment-3/node_modules/*
sector-11/assignment-7/node_modules/*
sector-11/assignment-5/node_modules/*
sector-9/remake-1/node_modules/*
sector-9/remake-2/node_modules/*
sector-9/assignment-1/node-app/node_modules/*
sector-9/node-app/node_modules/*
sector-8/assignment-2/node_modules/*
sector-8/remake-1/node_modules/*
sector-8/remake-2/node_modules/*
sector-8/remake-3/node_modules/*
sector-8/assignment-1/node_modules/*
sector-8/node-app/node_modules/*
sector-8/assignment-3/node_modules/*
sector-7/assignment-2/node_modules/*
sector-7/remake-1/node_modules/*
sector-7/remake-2/node_modules/*
sector-7/assignment-4/node_modules/*
sector-7/remake-3/node_modules/*
sector-7/assignment-1/node_modules/*
sector-7/remake-4/node_modules/*
sector-7/node-app/node_modules/*
sector-7/assignment-6/node_modules/*
sector-7/assignment-3/node_modules/*
sector-7/assignment-5/node_modules/*
sector-16/node_modules/*
sector-16/node_modules/jest-worker/node_modules/*
sector-16/node_modules/superagent/node_modules/*
sector-16/node_modules/cssstyle/node_modules/*
sector-16/node_modules/v8-to-istanbul/node_modules/*
sector-16/node_modules/domexception/node_modules/*
sector-16/node_modules/jest-validate/node_modules/*
sector-16/node_modules/pretty-format/node_modules/*
sector-16/node_modules/acorn-globals/node_modules/*
sector-16/node_modules/expect/node_modules/*
sector-16/node_modules/string_decoder/node_modules/*
sector-16/node_modules/jest-snapshot/node_modules/*
sector-16/assignment-2/node_modules/*
sector-16/remake-1/node_modules/*
sector-16/remake-2/node_modules/*
sector-16/assignment-4/node_modules/*
sector-16/assignment-8/node_modules/*
sector-16/remake-3/node_modules/*
sector-16/assignment-1/node_modules/*
sector-16/assignment-9/node_modules/*
sector-16/assignment-6/node_modules/*
sector-16/assignment-3/node_modules/*
sector-16/assignment-7/node_modules/*
sector-16/assignment-5/node_modules/*
sector-10/assignment-2/node_modules/*
sector-10/remake-1/node_modules/*
sector-10/remake-2/node_modules/*
sector-10/assignment-4/node_modules/*
sector-10/assignment-1/node_modules/*
sector-10/task-manager/node_modules/*
sector-10/assignment-3/node_modules/*
sector-6/remake-1/node_modules/*
sector-6/remake-2/node_modules/*
sector-6/remake-3/node_modules/*
sector-6/weather-app/node_modules/*
sector-6/remake-4/node_modules/*
sector-6/node-app/node_modules/*
sector-15/assignment-2/node_modules/*
sector-15/remake-1/node_modules/*
sector-15/remake-2/node_modules/*
sector-15/remake-3/node_modules/*
sector-15/assignment-1/node_modules/*
sector-15/assignment-3/node_modules/*
sector-13/assignment-2/node_modules/*
sector-13/remake-1/node_modules/*
sector-13/remake-2/node_modules/*
sector-13/remake-3/node_modules/*
sector-13/assignment-1/node_modules/*
sector-1-2-3/assignment-4/node_modules/*
sector-1-2-3/assignment-8/node_modules/*
sector-1-2-3/assignment-9/node_modules/*
sector-1-2-3/assignment-10/node_modules/*
sector-1-2-3/assignment-6/node_modules/*
sector-1-2-3/assignment-3/node_modules/*
sector-1-2-3/assignment-7/node_modules/*
sector-1-2-3/assignment-5/node_modules/*
