<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/style.css'>
    <script src='/js/app.js' async></script>
</head>

<body>
    <div class='main-contect'>

        {{>header}}


        <form>
            <input type='text' placeholder='Enter address'>
            <button>Click</button>
        </form>
        <p id='massage-one'> </p>
        <p id='massage-two'> </p>
    </div>
    {{>footer}}
</body>

</html>