<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    <title>404</title>
</head>
<body>
<div class="main-contect">
    {{>header}}
    {{errorText}}
</div>
{{>footer}}
</body>
</html>