<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
<div class="main-contect">
    {{>header}}
    <img src="/img/dragon.jpg" class="portrait">
</div>
{{>footer}}
</body>
</html>