<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    <title>help</title>
</head>
<body>
<div class="main-contect">
    {{>header}}
    <p>{{name}}</p>
</div>
    {{>footer}}
</body>
</html>