<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-contect">
    {{>header}}
    <img src="/img/dragon.jpg" class="portrait">
    <p>1111</p>
</div>
{{>footer}}
</body>
</html>